<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Aoe_GoogleSitemap>
            <version>1.1.0</version>
        </Aoe_GoogleSitemap>
    </modules>
    <frontend>
        <routers>
            <googlesitemap>
                <use>standard</use>
                <args>
                    <module>Aoe_GoogleSitemap</module>
                    <frontName>googlesitemap</frontName>
                </args>
            </googlesitemap>
        </routers>
    </frontend>
    <global>
        <rewrite>
            <sitemapxml>
                <from><![CDATA[/(sitemap([A-Za-z0-9_\-]*)\.xml)/]]></from>
                <to><![CDATA[/googlesitemap/index/index/file/$1]]></to>
                <complete>1</complete>
            </sitemapxml>
        </rewrite>
        <models>
            <Aoe_GoogleSitemap>
                <class>Aoe_GoogleSitemap_Model_Sitemap</class>
            </Aoe_GoogleSitemap>
            <sitemap>
                <rewrite>
                    <sitemap>Aoe_GoogleSitemap_Model_Sitemap</sitemap>
                </rewrite>
            </sitemap>
            <sitemap_resource>
                <rewrite>
                    <catalog_category>Aoe_GoogleSitemap_Model_Resource_Catalog_Category</catalog_category>
                    <catalog_product>Aoe_GoogleSitemap_Model_Resource_Catalog_Product</catalog_product>
                </rewrite>
            </sitemap_resource>
        </models>
        <resources>
            <aoegooglesitemap_setup>
                <setup>
                    <module>Aoe_GoogleSitemap</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </aoegooglesitemap_setup>
        </resources>
        <helpers>
            <googlesitemap>
                <class>Aoe_GoogleSitemap_Helper</class>
            </googlesitemap>
        </helpers>
    </global>
    <default>
        <general>
            <file>
                <sitemap_generate_valid_paths>
                    <available>
                        <any_path>/sitemap*.xml</any_path>
                    </available>
                </sitemap_generate_valid_paths>
            </file>
        </general>
        <sitemap>
            <alternate_links>
                <enabled>1</enabled>
                <hreflang>us-US</hreflang>
            </alternate_links>
        </sitemap>
    </default>
</config>
